@use './../../styles/Partials/colors' as *;
@use './../../styles/Partials/fonts' as *;
@use './../../styles/Partials/screenSizes' as *;


.header {
    padding: 1rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.cryptobud {
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left:3rem;
}



.homePage {
    color: $white;
    background-color: $backgroundColor;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;

    &__avatar {
        border-radius:50px;
        margin-right:1rem;
        margin-left:1rem;
        object-fit: cover;
        height:100px;
        width:100px;
    }

    &__postWrapper {
        position: relative;
        width:100%;
        margin-top:1.3rem;
    }

    &__feed {
        margin-top:5rem;
        width:66%;
        padding-bottom: 7rem;
        margin-bottom: 7rem;
    }

    &__followButton {
        flex-direction:row;
        justify-content:flex-end;
        background-color: #232323;
        border: 3px solid #0d0d0d;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.3rem;
        font-size: inherit;
        cursor: pointer;
        width:8rem;
        transition: background-color 0.15s;
        margin-left:1rem;
        margin-right:1rem;
        margin-top:1rem;
        margin-bottom: 2rem;
    
        &:hover {
            background-color: #4e00c2;
            animation: pulsate 1s 
            ease-in-out;
        }  
    }
}




