@use './../../Styles/Partials/colors' as *;
@use './../../Styles/Partials/screenSizes' as *;

.header {
    padding: 1rem;
    background-color: black;
    display: flex;

    @include mobile {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logOutButton {
        flex-direction:row;
        justify-content:flex-end;
        margin-top:1rem;
        background-color: #232323;
        border: 3px solid #0d0d0d;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.3rem;
        font-size: inherit;
        cursor: pointer;
        width:8rem;
        transition: background-color 0.15s;
        
        @include mobile {

            flex-direction:row;
            justify-content: center;
            background-color: black;
            border: black;
        }

        &:hover {
            background-color: #4e00c2;
            animation: pulsate 1s 
            ease-in-out;
        }  
    
    .cryptobud {

        @include mobile {
        padding-top: 4rem;
        padding-bottom:3rem;
        }

        @include desktop {
        padding-top: 1rem;
        padding-bottom:1rem;
        padding-left:3rem;
        }
    }

    .githublogo {
        margin-right:1.3rem;
        }
    }
}