@use './../../Styles/Partials/colors' as *;

.post {

    opacity:100%; 
    //background:rgba(255, 255, 255, 0.125)
    border-radius: 0.5rem;
    overflow:hidden;
    position: relative;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding-top:0.5rem;

  

    &__userLink {
            
        text-decoration: none;
        color: white;
    
}
    &__name {

            text-decoration: none;
            color: white;
        
    }

    &__avatar {
        border-radius:50px;
        margin-right:1rem;
        margin-left:1rem;
        object-fit: cover;
        height:50px;
        width:50px;
    }

    &__image {
        margin-right:1rem;
        margin-left:1rem;
        object-fit:contain;
        width:80%;
        max-height: 30rem;
    }

    &__imgContainer {
       width:100%;
       display:flex;
       justify-content: center;
    }

    &__global {
        padding-left:1rem;
    }

    &__user {
        display: flex;
        align-items: flex-start;
    }

    &__date {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
        padding-right: 1.5rem;
        padding-top: 0.3rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        width:100%;
        margin-top:1rem;
    }

    &__msg {
        display: flex;
        justify-content: center;
        padding-bottom: 1 rem;
    }

&__foreGroundContent {
   // background: #131315;
   background-color: #131315;
    color: white;
    text-decoration: none;
    z-index: 2;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    opacity: 100%;
}

&__chartLabel {
display:flex;
justify-content: space-between;

p {
    font-size:1rem;
}
}

&__chartContainer {
    // background: #131315;
    background-color: #000;
    margin-bottom: 6rem;
   
 }

&__foreGroundContent:hover {
    opacity: 0;
    transition: opacity 0.6s ease;
}

&__backgroundContent {
    background-color: rgba(255, 255, 255, 0.125);
    color: white;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 100%;
    }
}

.postWithImage{
    height:40rem;
}

.postWithOutImage{
    height:10rem;
}


/* .post:before, .post:after{
    content:"";
    background: radial-gradient(800px circle 
    at var(--x-px) var(--y-px), 
    rgba(255, 255, 255, 0.3), transparent 40%);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    inset:0px;
    border-radius:inherit;

}

.post:before{
    z-index:1;
}

.post:after{
    opacity: 0;
    z-index: 2;
    transition: opacity 0.4s ease;
}

.post:hover:after{
    opacity: 1;
}

*/

