@use './../../Styles/Partials/colors' as *;
@use './../../Styles/Partials/screenSizes' as *;

.post {

    opacity:100%; 
    //background:rgba(255, 255, 255, 0.125)
    border-radius: 0.5rem;
    overflow:hidden;
    position: relative;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding-top:0.5rem;

  
    &__userLink {     
        text-decoration: none;
        color: white;
        padding-top: 1rem;  
    }

    &__smallChart {
        @include desktop {
            display:none;
        }

        @include tablet {
            display:none;
        }
    }

    &__largeChart {
        @include mobile {
        display:none;   
    }
  }
    
    &__name {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    &__viewComments {
        padding-left: 1rem;
        font-style: italic;
    }

    &__avatar {
        border-radius:50px;
        margin-right:1rem;
        margin-left:1rem;
        object-fit: cover;
        height:60px;
        width:60px;
    }

    &__msg {

        min-height:8rem;
       p { 
        word-wrap: break-word;
        
        @include desktop {
            max-width:35rem;
        }
    
        @include tablet {
            max-width:30rem;
        }
    
        @include mobile {
            max-width:18rem;
        }
       }
    }
    &__image {
        margin-right:1rem;
        margin-left:1rem;
        object-fit:contain;
        width:80%;
        max-height: 30rem;
    }

    &__imgContainer {
       width:100%;
       display:flex;
       justify-content: center;
    }

    &__global {
        padding-left:1rem;
        padding-top: 1.3rem;
        font-style: italic;
        font-size: 0.7rem;
    }

    &__user {
        display: flex;
        align-items: flex-start;
    }

    &__date {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
        padding-right: 1.5rem;
        padding-top: 0.3rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        width:100%;
        margin-top:1rem;
    }

    &__msg {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }

    &__likeOptions {
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left:1rem;
        padding-right:1rem;
    }

    &__hodlButton {
        background-color: #232323;
        border: 3px solid #0d0d0d;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.3rem;
        font-size: inherit;
        cursor: pointer;
        width:8rem;
        transition: background-color 0.15s;
        margin-left:1rem;
        margin-right:1rem;
    
        &:hover {
            background-color: #4e00c2;
            animation: pulsate 1s 
            ease-in-out;
        } 
    }

    &__dumpButton {
        background-color: #ff4f4b;
        border: 3px solid #ff6865;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.15rem;
        font-size: inherit;
        cursor: pointer;
        width:5rem;
        transition: background-color 0.15s;
        margin-left:.5rem;
        margin-right:.5rem;
    
        &:hover {
            background-color: #ff0500;
            animation: pulsate 1s 
            ease-in-out;
        } 
    }

    &__hodlButton {
        flex-direction:row;
        justify-content:flex-end;
        background-color: #329B24;
        border: 3px solid #6fd25a;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.15rem;
        font-size: inherit;
        cursor: pointer;
        width:5rem;
        transition: background-color 0.15s;
        margin-left:.5rem;
        margin-right:.5rem;
    
        &:hover {
            background-color: #64fa72;
            animation: pulsate 1s 
            ease-in-out;
        }  
    }

        &__colorDump {
            font-weight: 600;
            color: #ff4f4b;
            font-size: .7rem;

        }

        &__colorHodl {
            font-weight: 600;
            color: #329B24;
            font-size: .7rem;
            padding-left: 1rem;
        }

&__foreGroundContent {
   // background: #131315;
   background-color: #131315;
    color: white;
    text-decoration: none;
    z-index: 2;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    opacity: 100%;
}

&__chartLabel {
    display:flex;
    justify-content: space-between;
    padding: .5rem;
    font-size: 0.5rem;

p {
    font-size:0.8rem;
    font-style: italic;
    }
}

&__chartContainer {
    // background: #131315;
    background-color: #000;
    margin-bottom: 6rem;
    margin: 2rem;   
}

&__foreGroundContent:hover {
    opacity: 0;
    transition: opacity 0.6s ease;
}

&__backgroundContent {
    background-color: rgba(255, 255, 255, 0.125);
    color: white;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 100%;
    }
}

.postWithImage {
        height:50rem;
 
}

.postWithOutImage {
        height:20rem;
   
}

.postWithChart {
    @include desktop {
        height:60rem;
    }

    @include tablet {
        height:60rem;
    }

    @include mobile {
        height:37rem;
    }
}


